.section-logo{
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  display: flex;
  position: relative;
  background-size: auto;
  background-repeat: repeat;
  text-size-adjust: 100%;
  width: 100%;
  height: 6.063rem;
  
}
.tab-logo{
  display: flex;
  position: relative;
  top: 0px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgb(147, 23, 32);
}

.section-menu{
    display: flex;
    background-size: auto;
    flex-wrap: wrap;
    position: static;
    background-color: rgb(241, 247, 253);
    width: 100%;
    height: 4rem;
    min-width: 6rem;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
}
.menu-bar
{
    display: flex;
    flex-wrap: wrap;
    position:static;
    text-align: center;
    text-decoration: none;
    color: black;
}
.menu{
    text-align: center;
    flex: 1 1 50%;
    flex-wrap: wrap;
    display: flex;
    position:static;
    font-size: calc(60% + 0.8vmin);
    padding: 10px;
    list-style: none;
    box-sizing: border-box;
    margin: 0 auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.menu-bar:hover{
    color: rgb(95, 103, 103);
    transition-duration: 0.5s;
}

.section-menu-responsive{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(241, 247, 253, 0.2);
    backdrop-filter: blur(10px);
    flex-direction: column;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    align-items: flex-start;
    justify-content: flex-start;
}

.section-menu-responsive li{
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    text-align: left;
    padding-top: 5%;
}
.section-menu-responsive li:hover{
    background-color:  rgb(226, 232, 238);
    transition-duration: 0.5s
}
.section-menu-responsive a{
    text-decoration: none;
    width: 100%;
    color: black;
}
.section-menu-responsive a:hover{
    color: rgb(95, 103, 103);
}
/*Navbar phone*/
.navbar-menu-responsive{
    display:none;
    position:fixed;
    width: 100%;
    height: 5rem;
    z-index: 999;
    bottom: 0;
    align-items: center;
    text-align: center;
    margin-left: auto;
    background-color: rgba(167, 25, 25, 0.2);
    justify-content: center;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
}
.body-menu{
    display:flex;
    position:fixed;
    text-align: center;
    margin: 0 auto;
}
.body-menu li{
    list-style: none;
    padding: 20px;
    align-items: center;
    
}

.body-menu img:hover{
    width: 30px;
    transition: 20s;
}

/*========== Footer bar =========*/
.footer_tab{
    display:flex;
    position:static;
    width: 100%;
    height: 5rem;
    background-color: rgb(147, 23, 32);
    bottom: 0;
    margin: 0 auto;
}

.footer-fram-logo-medie{
  width: 100%;
  align-items: center;
  text-align: center;
}
.footer-fram-logo-medie img{
  margin-right: 16px;
  width: 3.375rem;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-menu-wallpaper:hover .dropdown-content{
    display: block;
    background-color: rgb(147, 23, 32);
}
.dropdown-content a:hover {
    color: #f1f1f1;
    transition-duration: 0.5s;
}
@media(max-width: 800px){
    .section-menu{
        display: none;
    }
    .navbar-menu-responsive{
        display: flex;
    }
}
@media(max-width: 400px){
    .section-menu-responsive{
        width: 100%;
    }
}

/*test*/
/* PRODUCTS */
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}


