<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/about/about.css') }}" >
    <link rel="icon" type="image/x-icon" href="/static/img/logo/Icon.webp">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About me </title>
</head>
<body>
    <header>
       {% extends "/component_menu/layout_menu.html"%}
    </header>
    {% block content %}
    <main>
        <h1 class="font-1" style="font-size: 50px; text-align: center; padding: 30px;">
            <span>สำหรับลูกค้าองค์กร</span> 
        </h1>
        <section class="box_header">
            <div class="img_bk">
                <img src="/static/img/logo/bk.avif" alt="" style="width: 100%; height: 100%; object-fit: cover;"> 
                <div class="text-header">
                    <span><h1 style="padding: 20px;">มูเตเวิร์ล Mootae World</h1></span>
                    <span><h3 style="padding: 20px;">ที่พึ่งทางดวงที่ไว้ใจได้เสมอ</h3></span>
                    <span><h3 style="padding: 20px;">SINCERE | PASSIONATE | INFORMATIVE</h3></span>
                </div>
            </div>
        </section>
        <section class="body-box-2">
            <div class="body-frame">
                <div class="body-type-grid">
                    <div class="header-text-body-box-2">
                        <h1>มูเต SAY HI</h1>
                    </div>
                    <div class="body1-text-body-box-2">
                        <h3>ทำไมต้องมูเตเวิร์ล</h3>
                    </div>
                    <div class="body2-text-body-box-2">
                        <h3>ศูนย์รวมจักรวาลความมู ผู้คิดค้นศาสตร์มูด้วยวอลเปเปอร์มือถือเสริมดวงเจ้าแรกในประเทศไทย ที่สร้างปรากฎการณ์ความปังยอดซื้อซ้ำกว่าหลายหมื่นออเดอร์</h3>
                    </div>
                    <div class="body3-text-body-box-2">
                        <h3>มูเตเวิร์ล เป็นพื้นที่สำหรับคนรุ่นใหม่ที่สนใจในเรื่องมูเตลู ไม่ว่าคุณจะเป็นมูมือใหม่ หรือมูตัวแม่ ผู้ประกอบการ พ่อค้าแม่ค้า ที่อยากเสริมดวงเฮงๆปังๆ มาพร้อมสินค้าและบริการต่างๆมากมายที่คัดสรรมาแล้ว</h3>
                    </div>
                    <div class="body3-img-body-box-2">
                        <img src="/static/img/logo/noimg.jpeg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock %}
</body>
</html>