<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/home.css') }}" >
    <link rel="icon" type="image/x-icon" href="/static/img/logo/Icon.webp">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title> Home </title>
</head>
<body>
    <header>
         {% extends "component/component_menu/layout_menu.html"%}
    </header>
    <main>
        {% block content %}
        <div class="frame-section">
            <!--Section 1-->
            <div class="contran-ner-1">
                <section class="news-slide">
                <!--<h2 class="product-category">best selling</h2>-->
                     <button class="pre-btn"><img src="/static/img/logo/arrow.png" alt=""></button>
                     <button class="nxt-btn"><img src="/static/img/logo/arrow.png" alt=""></button>
                    <div class="news-slide-container">
                        <div  class="news-card">
                             <div class="news-image">
                                <span class="discount-tag">50% off</span>
                                <img src="/static/img/logo/new1.jpg" class="news-thumb" alt="">
                                <!-- <button class="card-btn">add to wishlist</button>-->
                            </div>
                        </div>
                        <div  class="news-card">
                             <div class="news-image">
                                <span class="discount-tag">50% off</span>
                                <img src="/static/img/logo/new2.jpg" class="news-thumb" alt="">
                                <!-- <button class="card-btn">add to wishlist</button>-->
                            </div>
                        </div>
                        <div  class="news-card">
                             <div class="news-image">
                                <span class="discount-tag">50% off</span>
                                <img src="/static/img/logo/new3.jpg" class="news-thumb" alt="">
                                <!-- <button class="card-btn">add to wishlist</button>-->
                            </div>
                        </div>
                        <div  class="news-card">
                             <div class="news-image">
                                <span class="discount-tag">50% off</span>
                                <img src="/static/img/logo/new4.jpg" class="news-thumb" alt="">
                               <!-- <button class="card-btn">add to wishlist</button>-->
                            </div>
                        </div>
                        <div  class="news-card">
                             <div class="news-image">
                                <span class="discount-tag">50% off</span>
                                <img src="/static/img/logo/new1.jpg" class="news-thumb" alt="">
                                <!-- <button class="card-btn">add to wishlist</button>-->
                            </div>
                        </div>
                        <div  class="news-card">
                             <div class="news-image">
                                <span class="discount-tag">50% off</span>
                                <img src="/static/img/logo/new1.jpg" class="news-thumb" alt="">
                                <!-- <button class="card-btn">add to wishlist</button>-->
                            </div>
                        </div>
                        <div  class="news-card">
                             <div class="news-image">
                                <span class="discount-tag">50% off</span>
                                <img src="/static/img/logo/new1.jpg" class="news-thumb" alt="">
                                <!-- <button class="card-btn">add to wishlist</button>-->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!--Section 2-->
            <diV class="hot_card_frame">
            <section class="header_text_hots">
                <div class="title_hots" style="width: 100%; height: 100%; display: flex; max-width: 100%;">
                    <h1>กำลังมาแรง</h1>
                </div>
            </section>
            <Section class="body_card_hots" style="justify-items: center;">
                <div class="card_body" style="justify-items: center;">
                    <div class="row row-cols-1 row-cols-md-3 g-3" style="width: 70%; height: 100%; min-height: 100%; position: static;">
                        <div class="col">
                            <div class="card">
                            <img src="/static/img/logo/noimg.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                            <img src="/static/img/logo/noimg.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                            <img src="/static/img/logo/noimg.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </Section>
            </diV>
            <br>
            <!--Section 3-->
            <div class="section-background">
                <div class="section-background-frame">
                    <img src="/static/img/logo/bg.avif" alt="" style="height: 100%;width: 100%; max-width: 100%; max-height: 100%;">
                </div>
            </div>
            <!--Section 4-->
            <section class="body-home-page-section4">
                <div class="body-home-page-paragrap1" style="width: 100%; height: 50%;">
                    <a href="https://line.me/R/ti/p/@947trmrp" target="_blank"><img src="/static/img/logo/Line_buttun.avif" alt="" style="object-fit: cover; width: 18.75rem; height: 8.75rem;" ></a>
                </div>
                <div class="body-home-page-paragrap2" style="width: 100%; height: 50%;">
                    <h2><span>ปรึกษา ปัญหาดวง กดเลย !!</span></h2>
                </div>
            </section>
            <!--Section 5-->
            <section class="lucky-wallpaper-section">
                <div class="lucky-wallpaper-text">
                    <h2>วอลเปเปอร์เสริมดวง</h2>
                    <p>
                    ใช้องค์ประกอบทางดวงที่มาจากหลายศาสตร์ เป็นการจัด
                    วอลเปเปอร์และไพ่ยิปซี ผูกดวงตามโหราศาสตร์ให้รายบุคคล
                    ฉะนั้นวอลเปเปอร์เสริมดวงที่คุณได้รับไปจึงเป็นของคุณเพียงคน
                    เดียวเท่านั้น!
                    </p>
                </div>
                <div class="lucky-wallpaper-image">
                    <img src="/static/img/logo/noimg.jpeg" alt="วอลเปเปอร์เสริมดวง">
                </div>
            </section>
            <br><br>
            <section class="card-detail-campany-section">
                <div class="detail-company-text">
                    <h2>สำหรับลูกค้าองค์กร</h2>
                     <ul>
                        <li>Media Content Service</li>
                        <li>Pray for you & Moo-Tour</li>
                        <li>Wallpaper Service</li>
                        <li>Event Service</li>
                    </ul>
                </div>
                <div class="detail-campany-readme">
                    <p>สนใจติดต่องาน</p>
                    <div class="frame-btn-buttom">
                        <a href="/about" class="btn-detail-company">ดูรายละเอียดเพิ่มเติม</a>
                    </div>
                </div>
            </section>
            <br>
            <!--Card aricle slide-->
            <h1 style="text-align: center;">บทความ</h1>
            <section class="section-article-block">
                <div class="frame-article-block">
                    <div class="frame-article-slde">
                        <div class="article-img-slide">
                            <img src="/static/img/logo/Energy_PostBroad_Main.avif" style="width: 100%; height: 100%;" alt="">
                            <div class="title-aricle">
                                <a href="#" style="text-decoration: none;"><h2>ดาวเสาร์ถอยหลัง 23 สิงหาคม 68 12 ราศีต้องเจออะไรบ้าง</h2></a>
                            </div>
                            <a href="#" style="text-decoration: none;" class="text-detail-article">ดาวเสาร์ถอยหลัง 23 สิงหาคม 68 จนมาอยู่ที่ราศีกุมภ์อีกครั้ง ต้องระวังกันหลายเรื่องหน่อย เพราะดาวเสาร์เป็นดาวที่เกี่ยวกับภาระ ความทุกข์ ความนาน</a>
                        </div>
                    </div> 
                </div>
                <!--Card 2-->
                <div class="frame-article-block">
                    <div class="frame-article-slde">
                        <div class="article-img-slide">
                            <img src="/static/img/logo/noimg.jpeg" alt="">
                            <a href="#" style="text-decoration: none;"><h2>เรื่องเล่าโศกนาฏกรรมรักของเทพดวงอาทิตย์และเจ้าชาย สู่ตำนานของ 'ดอกไฮยาซินธ์'</h2></a>
                            <a href="#" style="text-decoration: none;" class="text-detail-article">มูเตอยากเล่าวันนี้ขอเสนอ “โศกนาฏกรรมรักของเทพดวงอาทิตย์และเจ้าชายสู่ตำนานของดอกไฮยาซินธ์”</a>
                        </div>
                    </div> 
                </div>
                
                <!--Card 3-->
                <div class="frame-article-block">
                    <div class="frame-article-slde">
                        <div class="article-img-slide">
                            <img src="/static/img/logo/noimg.jpeg" alt="">
                            <a href="#" style="text-decoration: none;"><h2>หน้าไพ่ไม่ดี ไม่ได้แปลว่าความหมายจะไม่ดีเสมอไป</h2></a>
                            <a href="#" style="text-decoration: none;" class="text-detail-article">วันนี้มูเตจะหยิบยกไพ่ 4 ใบนี้ ที่ต่างคนถามนักถามหนาว่าไม่ดีแล้วใช้ทำไม หรือถ้าออกมาเป็นไพ่พวกนี้ต้องกลัวหรือไม่? มูเตมีคำตอบมาให้ค่า</a>
                        </div>
                    </div> 
                </div>

                <!--Card 4-->
                <div class="frame-article-block">
                    <div class="frame-article-slde">
                        <div class="article-img-slide">
                            <img src="/static/img/logo/noimg.jpeg" alt="">
                            <a href="#" style="text-decoration: none;"><h2>เรื่องเล่าโศกนาฏกรรมรักของเทพดวงอาทิตย์และเจ้าชาย สู่ตำนานของ 'ดอกไฮยาซินธ์'</h2></a>
                            <a href="#" style="text-decoration: none;" class="text-detail-article">มูเตอยากเล่าวันนี้ขอเสนอ “โศกนาฏกรรมรักของเทพดวงอาทิตย์และเจ้าชายสู่ตำนานของดอกไฮยาซินธ์”</a>
                        </div>
                    </div> 
                </div>

                <!--Card 5-->
                <div class="frame-article-block">
                    <div class="frame-article-slde">
                        <div class="article-img-slide">
                            <img src="/static/img/logo/noimg.jpeg" alt="">
                            <a href="#" style="text-decoration: none;"><h2>เรื่องเล่าโศกนาฏกรรมรักของเทพดวงอาทิตย์และเจ้าชาย สู่ตำนานของ 'ดอกไฮยาซินธ์'</h2></a>
                            <a href="#" style="text-decoration: none;" class="text-detail-article">มูเตอยากเล่าวันนี้ขอเสนอ “โศกนาฏกรรมรักของเทพดวงอาทิตย์และเจ้าชายสู่ตำนานของดอกไฮยาซินธ์”</a>
                        </div>
                    </div> 
                </div>

                <!--Card 6-->
                <div class="frame-article-block">
                    <div class="frame-article-slde">
                        <div class="article-img-slide">
                            <img src="/static/img/logo/noimg.jpeg" alt="">
                            <a href="#" style="text-decoration: none;"><h2>เรื่องเล่าโศกนาฏกรรมรักของเทพดวงอาทิตย์และเจ้าชาย สู่ตำนานของ 'ดอกไฮยาซินธ์'</h2></a>
                            <a href="#" style="text-decoration: none;" class="text-detail-article">มูเตอยากเล่าวันนี้ขอเสนอ “โศกนาฏกรรมรักของเทพดวงอาทิตย์และเจ้าชายสู่ตำนานของดอกไฮยาซินธ์”</a>
                        </div>
                    </div> 
                </div>

                <!--Card 7-->
                <div class="frame-article-block">
                    <div class="frame-article-slde">
                        <div class="article-img-slide">
                            <img src="/static/img/logo/noimg.jpeg" alt="">
                            <a href="#" style="text-decoration: none;"><h2>เรื่องเล่าโศกนาฏกรรมรักของเทพดวงอาทิตย์และเจ้าชาย สู่ตำนานของ 'ดอกไฮยาซินธ์'</h2></a>
                            <a href="#" style="text-decoration: none;" class="text-detail-article">มูเตอยากเล่าวันนี้ขอเสนอ “โศกนาฏกรรมรักของเทพดวงอาทิตย์และเจ้าชายสู่ตำนานของดอกไฮยาซินธ์”</a>
                        </div>
                    </div> 
                </div>

                <!--Card 8-->
                <div class="frame-article-block">
                    <div class="frame-article-slde">
                        <div class="article-img-slide">
                            <img src="/static/img/logo/noimg.jpeg" alt="">
                            <a href="#" style="text-decoration: none;"><h2>เรื่องเล่าโศกนาฏกรรมรักของเทพดวงอาทิตย์และเจ้าชาย สู่ตำนานของ 'ดอกไฮยาซินธ์'</h2></a>
                            <a href="#" style="text-decoration: none;" class="text-detail-article">มูเตอยากเล่าวันนี้ขอเสนอ “โศกนาฏกรรมรักของเทพดวงอาทิตย์และเจ้าชายสู่ตำนานของดอกไฮยาซินธ์”</a>
                        </div>
                    </div> 
                </div>

                <!--Card 9-->
                <div class="frame-article-block">
                    <div class="frame-article-slde">
                        <div class="article-img-slide">
                            <img src="/static/img/logo/noimg.jpeg" alt="">
                            <a href="#" style="text-decoration: none;"><h2>เรื่องเล่าโศกนาฏกรรมรักของเทพดวงอาทิตย์และเจ้าชาย สู่ตำนานของ 'ดอกไฮยาซินธ์'</h2></a>
                            <a href="#" style="text-decoration: none;" class="text-detail-article">มูเตอยากเล่าวันนี้ขอเสนอ “โศกนาฏกรรมรักของเทพดวงอาทิตย์และเจ้าชายสู่ตำนานของดอกไฮยาซินธ์”</a>
                        </div>
                    </div> 
                </div>

                <!--Card 10-->
                <div class="frame-article-block">
                    <div class="frame-article-slde">
                        <div class="article-img-slide">
                            <img src="/static/img/logo/noimg.jpeg" alt="">
                            <a href="#" style="text-decoration: none;"><h2>เรื่องเล่าโศกนาฏกรรมรักของเทพดวงอาทิตย์และเจ้าชาย สู่ตำนานของ 'ดอกไฮยาซินธ์'</h2></a>
                            <a href="#" style="text-decoration: none;" class="text-detail-article">มูเตอยากเล่าวันนี้ขอเสนอ “โศกนาฏกรรมรักของเทพดวงอาทิตย์และเจ้าชายสู่ตำนานของดอกไฮยาซินธ์”</a>
                        </div>
                    </div> 
                </div>
                
                    <!--<div class="frame-article-block">
                            <div class="frame-article-block-conten">
                                <div class="article-block-1">
                                    <img src="/static/img/logo/noimg.jpeg" alt="">
                                </div>
                                <div class="article-block-2">
                                    <div class="profile">
                                        <div class="user-img-profile">
                                            <img src="/static/img/logo/profile.png" alt="">
                                        </div>
                                        <div class="user-name-profile">
                                            <a href="" style="text-decoration: none;"><span style="font-size: 12px;">mootaeworld</span></a>
                                        </div>
                                    </div>
                                    <div class="article-category">
                                        <a href="" ><span>การเสริมดวง</span></a>
                                    </div>
                                    <div class="article-title">
                                        <a href="" ><span>พิธีเปิดคลังทรัพย์ยืมเงิน เจ้าแม่กวนอิมยืมเงิน (ฮ่องฮำ)</span></a>
                                    </div>
                                    <div class="article-conten">
                                        <a href="" ><span>“พิธีใหญ่แห่งปีบนสถานที่ที่ขึ้นชื่อว่ามีฮ้วงจุ้ยที่ดีที่สุดแห่งหนึ่งของโลกกับ “วันเปิดคลังทรัพย์” หรือ พิธียืมเงินเจ้าแม่กวนอิม...</span></a>
                                    </div>
                                </div>
                            </div>-->
                </div>
            </section>
            <br>
    </div>
        {% endblock %}
    </main>
<script src="/static/js/slide_img.js"></script>
</body>
</html>
