<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/home.css') }}" >
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/button.css') }}" >
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/navbar.css') }}" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title> Home </title>
</head>
<body>
    <header>
        <section id="section-logo" class="section-logo">
            <div class="tab-logo">
                    <img src="/static/img/logo/mootaeworld-logo.svg" alt="Mootaeworld Logo" style="width: 80px; margin-left: 45%; margin-right: 45%; padding-bottom: 50px;">
            </div>
        </section>
        <section id="section-menu" class="section-menu">  
        <div class="nav_bar">
            <div class="menu_item">
                <a href="" class="menu">หน้าแรก</a>
                <a href="" class="menu">เกี่ยวกับฉัน</a>
                <a href="/about" class="menu">บทความ</a>
                <a href="/wallpaper" class="menu">สร้าง wallpaper</a>
                <a href="/form-wallpaper-brith-date" class="menu">สร้าง wallpaper วันเดือนปีเกิด</a>
            </div>
        </div>
        </section>

      <!--  <div class="headder_bar">
            <div class="headder_bar_text">Nuy Shop</div>
        </div>-->
        
    </header>
 
   <!-- <button type="button" onclick="document.location='/about'">Click Me!</button>-->
</body>
</html>