<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallpaper Editor</title>
</head>
<body>
     <form method="post" enctype="multipart/form-data">
        <input type="text" name="text" placeholder="Enter text">
        <input type="file" name="image">
        <input type="number" name="position_x" placeholder="X">
        <input type="number" name="position_y" placeholder="Y">
        <button type="submit">Add Text</button>
    </form>
</body>
</html>