<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/component_manage_from/headder-form.css') }}" >
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/component_button/button.css') }}" >
    <title>แบบฟอร์มสำหรับกรอกข้อมูล วันเดือนปีเกิด</title>
</head>
<body>
    <div class="page-body">
        <div class="form-data">
            <div class="headder-form">
                <img src="/static/img/logo/mootaeworld-logo.svg" alt="Mootaeworld Logo" style="width: 100px;">
                <form action="" method="post" class="form-data1">
                    <div class="body-form">
                        <div class="headder-text">
                            <span class="text-header" style="font-size: 1.5rem;">Customize Wallpaper ของคุณ</span>
                            <span  class="text-header" style="text-align: center; padding: 0px; font-size: 1.0rem;">การุณา กรอกข้อมูลลงในแบบฟอร์ม</span>
                            <div class="body-back">
                                <div class="group-input">
                                    <div class="input-bd-date">
                                        <span>วันเดือนปีเกิด</span>
                                        <div class="input-bd">
                                            <select name="select-day-form-dateofbirth" id="select-day-form-dateofbirth"
                                            class="select-day-form-dateofbirth">
                                                <option disabled selected hidden value="DEFAULT">วัน</option>
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="28">28</option>
                                                <option value="29">29</option>
                                                <option value="30">30</option>

                                            </select>
                                            <select name="select-month-form-dateofbirth" id="select-month-form-dateofbirth"
                                            class="select-day-form-dateofbirth">
                                                <option value="DEFAULT" disabled selected hidden>เดือน</option>
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                            <div>
                                                <input type="date" name="carenda" id="carenda" oninput="converdate()">
                                                <!-- convert date dd-mm-yyyy to day-->
                                                <input type="text" name="converday" id="converday" hidden>
                                                <input type="text" name="convermonth" id="convermonth" hidden>
                                                <input type="text" name="year" id="year" hidden>
                                                <!--end convert-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="button-submit">บันทึกข้อมูล</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

<script>
  function converdate() {
    const input = document.getElementById("carenda").value;
    if (!input) return;
    const date = new Date(input);
    const days = ["วันอาทิตย์", "วันจันทร์", "วันอังคาร", "วันพุธ", "วันพฤหัสบดี", "วันศุกร์", "วันเสาร์"];
    const months = ["มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม","มิถุนายน","กรกฏาคม","สิงหาคม","กันยายน","ตุลาคม","พฤศจิกายน","ธันวาคม"];
    const dayName = days[date.getDay()];
    document.getElementById("converday").value = dayName;

    
    const monthName = months[date.getMonth()];
    document.getElementById("convermonth").value = monthName;

    const yearName = date.getFullYear();
    document.getElementById("year").value = yearName+543;
    
  }
</script>